/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../valo/valo.scss";
@import "login.scss";
@import "timerlabel.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */


@mixin hypothesis {
  /* Include all the styles from the reindeer theme */
  @include valo;
  @include hypothesis-login-view;
  @include valo-timerlabel;

  /* Insert your theme rules here */
  
  $color1: #8D9099;
  $color2: #DFE8F6;
  $color3: #C0C0C2;
  $color-packpanel: #F7F7F7;
  $color-packpanel-nojava: #CACACA;
  
  //#A1C2E3
  //#DFE8F6
  .v-panel-caption-color1 {
    @include valo-panel-caption-style($background-color: $color1);
    font-weight: bold;
    //height: 25px;
  }
  
  .v-panel-content-color2 {
    @include valo-panel-style($background-color: $color2);
    border: none;
  }
  
  .v-panel-content-gradient {
    background: url(img/h-snail.png) left bottom no-repeat, url(img/h-gradient.png) left bottom repeat;
    background-position: 160px;
    border: none;
  }
  
  .v-label-toptitle {
    margin-left: 290px;
    //margin-top: 55px;
    text-shadow: 2px 2px 35px #019fe0;
  }
  
  .valo-menu-color2 {
    @include valo-menu-style($bg: $color2);
  }
  
  .v-verticallayout-color2 {
    background-color: $color2;
  }

  .v-horizontallayout-color2 {
    background-color: $color2;
  }
  
/* disable controls hiding for UVN
  .packpanel .controls {
    visibility: hidden;
  }

  .packpanel:hover .controls {
    visibility: visible;
  }
  
  .packpanel-nojava .controls {
    visibility: hidden;
  }

  .packpanel-nojava:hover .controls {
    visibility: visible;
  }
*/
  
  .v-panel-caption-packpanel {
    @include valo-panel-caption-style($background-color: $color1);
    font-weight: bold;
  }
  
  .v-panel-caption-packpanel-disabled {
    @include valo-panel-caption-style($background-color: $color3);
    font-weight: bold;
  }
  
  .v-panel-content-packpanel {
    @include valo-panel-style($background-color: $color-packpanel);
    border: none;
    //border-radius: initial;
  }

/*
  .v-panel-caption-packpanel-nojava {
    @include valo-panel-caption-style($background-color: $color1);
    font-weight: bold;
  }
  
  .v-panel-content-packpanel-nojava {
    @include valo-panel-style($background-color: $color-packpanel-nojava);
    border: none;
    //border-radius: initial;
  }
*/
  
  .v-label-red {
    color: red;
    font-weight: bold;
  }

  .v-panel-content-info-nojava {
    @include valo-panel-style($background-color: #FF9090);
    color: white;
    font-weight: bold;
  }
  
  .v-panel-content-info-java {
    @include valo-panel-style($background-color: #DAFFDA);
  }
  
  .v-panel-hidden {
    visibility: hidden;
    height: 0px;
  }

  .v-slot-hidden {
    height: 0px;
  }
}
