<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings for PostgreSQL -->
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost/hypothesis</property>
		<!--<property name="hibernate.connection.url">jdbc:postgresql://dbs/hypothesis</property>-->
		<property name="hibernate.connection.username">hypothesis</property>
		<!--<property name="hibernate.connection.password">p5h7Jgwl</property>-->
		<property name="hibernate.connection.password">hypothesis</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<!-- In future use spatial dialect <property name="hibernate.dialect">org.hibernate.spatial.dialect.postgis.PostgisDialect</property> 
			JDBC connection pool (use the built-in) -->
		<property name="hibernate.connection.pool_size">1</property>
		<!-- Enable Hibernate's automatic session context management thread is 
			the short name for org.hibernate.context.ThreadLocalSessionContext and let 
			Hibernate bind the session automatically to the thread -->
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<!-- Disable the second-level cache -->
		<property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<!-- this will show us all sql statements -->
		<property name="hibernate.show_sql">false</property>
		<!--<property name="hibernate.show_sql">true</property>-->
		<!-- Drop and re-create the database schema on startup <property name="hibernate.hbm2ddl.auto">create</property> 
			Check the database schema on startup -->
		<property name="hibernate.hbm2ddl.auto">validate</property>
		<!--<property name="hibernate.hbm2ddl.auto">update</property>-->
		<mapping class="com.tilioteo.hypothesis.entity.SlideTemplate" />
		<mapping class="com.tilioteo.hypothesis.entity.Slide" />
		<mapping class="com.tilioteo.hypothesis.entity.SlideOrder" />
		<mapping class="com.tilioteo.hypothesis.entity.Task" />
		<mapping class="com.tilioteo.hypothesis.entity.Branch" />
		<mapping class="com.tilioteo.hypothesis.entity.BranchOutput" />
		<mapping class="com.tilioteo.hypothesis.entity.Pack" />
		<mapping class="com.tilioteo.hypothesis.entity.BranchTrek" />
		<mapping class="com.tilioteo.hypothesis.entity.Event" />
		<mapping class="com.tilioteo.hypothesis.entity.ExportEvent"/>
		<mapping class="com.tilioteo.hypothesis.entity.SimpleTest" />
		<mapping class="com.tilioteo.hypothesis.entity.Test" />
		<mapping class="com.tilioteo.hypothesis.entity.Token" />
		<mapping class="com.tilioteo.hypothesis.entity.User" />
		<mapping class="com.tilioteo.hypothesis.entity.Group" />
		<mapping class="com.tilioteo.hypothesis.entity.Role" />
		<mapping class="com.tilioteo.hypothesis.entity.UserPermission" />
		<mapping class="com.tilioteo.hypothesis.entity.GroupPermission" />
		<mapping class="com.tilioteo.hypothesis.entity.Message" />
	</session-factory>
</hibernate-configuration>
